---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Servicos from '../components/Servicos.astro';
import Seminovos from '../components/Seminovos.astro';
import Instagram from '../components/Instagram.astro';
import AcessoCatalogo from '../components/AcessoCatalogo.astro';
import Footer from '../components/Footer.astro';
import Mapa from '../components/Mapa.astro';
---

<Layout 
    title="Sr. IPHONE | Seu iPhone, com Classe e Confiança"
    description="Revisamos, avaliamos e garantimos. Cada detalhe do processo assegura a entrega do melhor da tecnologia, com segurança e qualidade garantida."
>
    <Header />
    
    <main>
        <Hero />
        <!-- <Servicos /> -->
        <Seminovos />
        <AcessoCatalogo />
        <Instagram />
        <Mapa />
    </main>

    <Footer />
</Layout>