---
// src/components/Header.astro
---

<header class="header">
    <div class="container">
        <a href="/">
            <img
                src="/Logo Fundo Preto.svg"
                alt="Sr. IPHONE Logo"
                class="logo"
            />
        </a>
        <nav class="nav">
            <a
                href="/catalogo"
                style="  pointer-events: none;
  cursor: default;">Catálogo</a
            >
        </nav>
    </div>
</header>

<style>
    .header {
        background-color: var(--cor-fundo-escuro);
        padding: 1rem 0;
        position: sticky;
        top: 0;
        z-index: 100;
        border-bottom: 1px solid #1a1a1a;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        height: 34px;
        width: auto;
        transition: opacity 0.3s ease;
    }

    .logo:hover {
        opacity: 0.8;
    }

    .nav a {
        color: var(--cor-secundaria);
        text-decoration: none;
        font-weight: 500;
        font-size: 1rem;
        transition: all 0.3s ease;
        background-color: var(--cor-texto);
        padding: 0.5rem 1rem;
        border-radius: 8px;
    }

    .nav a:hover {
        opacity: 0.8;
        transform: translateY(-1px);
    }

    @media (min-width: 768px) {
        .logo {
            height: 50px;
        }
        .nav a {
            margin-left: 2rem;
            font-size: 1rem;
        }
    }
</style>
